<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="connectionString" value="host=127.0.0.1;port=6666;user=librarian;password=secret;db=RDR;" />
    <add key="delay" value="5000"/>
    <add key="retry" value="10"/>
    <add key="apiID" value="123456789" />
    <add key="apiKey" value="123456789" />
    <add key="baseUri" value="https://api.osmicards.com/v2" />
    <add key="template" value="chb" />
    <add key="cabinetUrl" value="&lt;a href=&quot;http://i.irklib.ru/cgi/irbis64r_61/cgiirbis_64.exe?C21COM=F&amp;I21DBN=RDR_SIMPLE&amp;P21DBN=IBIS&amp;Z21FAMILY={0}&amp;Z21ID={1}&quot;&gt;Вход в личный кабинет&lt;/a&gt;" />
    <add key="catalogUrl" value="&lt;a href=&quot;http://i.irklib.ru/cgi/irbis64r_61/cgiirbis_64.exe?C21COM=F&amp;I21DBN=IBIS_SIMPLE&amp;P21DBN=IBIS&amp;Z21FAMILY={0}&amp;Z21ID={1}&quot;&gt;Электронный каталог&lt;/a&gt;" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
