<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="irbis-connection" value="host=192.168.3.2;port=6666;user=Никто;password=Нигде;database=IBIS;arm=C;"/>
        <add key="rfid-reader" value="OMNIKEY CardMan 5x21-CL 0"/>
        <add key="form-skin" value="Seven"/>
        <add key="card-format" value="@brief"/>
        <add key="mhr" value="mhr.mnu"/>
        <add key="coll" value="coll.mnu"/>
        <add key="emulation" value=""/>
        <add key="prefix" value="IN="/>
        <add key="processing" value="ОКиОЛ"/>
    </appSettings>
</configuration>
