<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="connection-string" value="server=127.0.0.1;port=6666;user=1;password=1;database=RDR;" />
        <add key="tail-db" value="TAIL" />
        <add key="truncate" value="False" />
        <add key="threshold" value="01.01.2016" />
    </appSettings>
</configuration>