<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="connectionString" value="host=127.0.0.1;port=6666;user=miron;password=miron;db=RDR;" />
        <add key="apiID" value="IB2Y7H3OJK01AGJ1SS3W" />
        <add key="apiKey" value="015ad52cd62104479f0dd1df79e1e244d48222fa" />
        <add key="baseUri" value="https://api.dicards.ru/v2/" />
        <add key="group" value="IRBIS" />
        <add key="prefix" value="DICARDS-" />
        <add key="category" value="15" />
    </appSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>