<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="fmt"
            value="${longdate} | ${level:uppercase=true:padding=-5} | ${message}"/>

  <targets>

      <target name="console" xsi:type="ColoredConsole" layout="${fmt}" />
      <target name="file" xsi:type="File" layout="${fmt}"
              fileName="${basedir}/${date:format=yyyy-MM-dd}.log" />

  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />

  </rules>
</nlog>
