<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InventoryLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="connection-string" value="host=192.168.3.2;port=6666;user=Никто;password=Нигде;database=IBIS;arm=C;"/>
    <add key="rfid-reader" value="OMNIKEY CardMan 5x21-CL 0"/>
    <add key="form-skin" value="Seven"/>
    <add key="card-format" value="@brief"/>
    <add key="mhr" value="mhr.mnu"/>
    <add key="coll" value="coll.mnu"/>
    <add key="emulation" value=""/>
    <add key="prefix" value="IN="/>
    <add key="processing" value="ОКиОЛ"/>
  </appSettings>
  <applicationSettings>
    <InventoryLight.Properties.Settings>
      <setting name="enableClearButton" serializeAs="String">
        <value>False</value>
      </setting>
    </InventoryLight.Properties.Settings>
  </applicationSettings>
</configuration>
