<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="botName" value="name"/>
        <add key="apiToken" value="123"/>
        <add key="socksProxy" value="127.0.0.1:9050"/>
        <add key="httpProxy" value="" />
        <add key="irbis" value="host=127.0.0.1;port=6666;user=1;password=1;db=IBIS;" />
    </appSettings>
</configuration>
