<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="local-port" value="6666" />
    <add key="remote-port" value="5555" />
    <add key="remote-ip" value="127.0.0.1" />
    <add key="buffer-size" value="10000000"/>
    <add key="data-path" value="Capture\"/>
  </appSettings>
</configuration>