<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
        <add key="irbis-connection" value="host=moscow;port=6666;user=проверка;password=надорогах;db=HUDO;"/>
    </appSettings>
    <connectionStrings>
        <add name="kladovka" providerName="System.Data.SqlClient" connectionString="data source=127.20.1.188;initial catalog=kladovka;User id=rdrdrd; password=qqq;"/>
    </connectionStrings>
</configuration>
