<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="irbis-connection-string" value="host=127.0.0.1;port=6666;user=1;password=1;db=ISTU;arm=C;"/>
    <add key="sql-connection-string" value="Data Source=dns;Initial Catalog=Cards2016;Integrated Security=SSPI;"/>
    <add key="cards-path" value="C:\Cards"/>
    <add key="cards-extension" value=".jpg"/>
    <add key="cards-database" value="CARDS"/>
    <add key="cards-place" value="KX"/>
    <add key="form-skin" value="Seven"/>
    <add key="format" value="@sbrief"/>
  </appSettings>
</configuration>